//
//  Release.xcconfig
//  ConfigProject
//
//  Created by MBA0023 on 9/18/19.
//  Copyright © 2019 MBA0023. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

QKT_APP_NAME = Project (release)
QKT_APP_VERSION = 0.1

NAME = "Nam 3"
TEST = "Test 3"
